div {
  border: 2px green dotted;
  padding: 5px;
  height: 200px;
  height: 200px; 

  text-align: center;
}

span{
  color: red;
  font-weight: bold;
}

#first {
  position: absolute;
  top: 40px;
  left:100px;
}