header{
    font-weight: bolder;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(205, 75, 75, 0.336);

    margin:0;
    top:0;
    width: 100%;

}

.logo{
    width: 150px;
    top: 0;
    
}
body{
    margin-left: 25%;
    margin-top:0;
    padding-right: 0;
    padding-top: 0;
}

footer{
    position: absolute;
    
}

nav{
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    overflow: hidden;

    width: 25%;
    height: 100%;
    display:grid;
    background-color: rgba(128, 128, 128, 0.785);

}

.page:hover{
    background-color: rgba(54, 50, 50, 0.689);
}
.page{
    color: white;

    overflow:hidden ;
    text-align:center; 
    text-decoration: none;
    text-align: center;

    padding-top:25% ;
    

}