*{
   margin: 0;
   box-sizing: border-box;
}

#logo{
    height: 110px;
    width: 110px;
}

header{
  text-align: center;
  color: rgb(21, 21, 7);
  background-color: rgb(92, 133, 55);
  margin:0;

}

table{
    text-align: center;
    margin-left: auto; 
    margin-right:auto;
    font-size: 30px;

}

body{
    background-color: rgba(232, 255, 212, 0.47);
    padding-left: 25%;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.sidebar {
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 25%;
    margin: 0;
    padding-top: 120px;
    border-right: 3px solid rgba(0, 0, 0, 0.238);
    background-color: rgb(92, 133, 55);
    
}
.sidebar a {
    color: white;
    display: block;
    margin: 0px;
    overflow:hidden ;
    text-align:center; 
    text-decoration: none;
    text-align: center;
    padding: 30px;
    border-top: 3px solid rgba(0, 0, 0, 0.238);
  
}

.main{
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 50px 50px;
    height: 100%;
    padding-bottom: 50%;
    background-image: url(/a1_40227367/Q8/Images/background.jpeg);
    
}

fieldset{
    margin:30px;
    background-color: rgba(223, 223, 220, 0.661);
}

input:hover {
    background-color: rgb(139, 139, 139);
    border-radius: 5px;
    border: solid grey 2px;
}

input[type =text], input[type=email],select, text{
    width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type = submit], input[type=reset]{
    width: 100%;

}

#comments{
    height: 200px;
    text-align: start;
    overflow:visible;

}
.content {
    text-align: left;
    border:rgb(0, 0, 0) 2px solid;
    border-radius: 20px;
    background-color: rgb(189, 146, 219);
    padding: 20px;
    margin-top: 30px;
    min-height: fit-content;

}

h2{
    text-align: center;
}

h5{
    font-weight: lighter;
}

.info{
    background-color: rgba(240, 248, 255, 0.44);
    padding: 20px;
    border-radius: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
.page:hover{
    background-color: rgba(54, 50, 50, 0.689);
}


#last-page{
    border-bottom: 3px solid rgba(0, 0, 0, 0.238);
}


footer {
    background-color: rgba(116, 135, 117, 0.707);
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 10px;
    
}

.statement a{ 
    text-decoration: none;
    font-size: 20px;
    color: rgb(6, 60, 6);

}

.links{
    text-decoration: none;
    color: black;
}

.content img{
    margin: 5px;
    height: 200px;
    float: left;
}

